<div class="container mt-4">
  <div class="row">
    <div class="col-md-4 mb-4" *ngFor="let residence of listResidences">
      <div class="card h-100">
        <img [src]="residence.image" class="card-img-top" alt="{{residence.name}}">
        <div class="card-body">
          <h5 class="card-title">{{residence.name}}</h5>
          <p class="card-text">Status: {{ residence.status }}</p>
          <button class="btn btn-primary me-2" (click)="showLocation(residence.address)">Show Location</button>
          <button class="btn btn-success" (click)="addToFavorites(residence)">Like</button>
          <div *ngIf="residence.status === 'Disponible'">
            <p class="text-success mt-2">🟢 Disponible</p>
          </div>
          <div *ngIf="residence.status === 'Vendu'">
            <p class="text-danger mt-2">🔴 Vendu</p>
          </div>
          <div *ngIf="residence.status === 'En Construction'">
            <p class="text-warning mt-2">🟡 En Construction</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>